.AnswerItem {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.AnswerItem:hover {
  background: rgba(255, 255, 255, .2);
}

.AnswerItem.succes {
  background: rgba(82, 109, 52, 0.7);
}


.AnswerItem.error {
  background: rgba(155, 20, 38, 0.7);
}