.Auth {
  display: flex;
  justify-content: center;
  padding: 100px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%)
}

.Auth > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.Auth h1 {
  color: #fff;
  text-align: center;
}


.AuthForm {
  background: #eee; 
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #fff;
}